#menu
{
	position: fixed;
	width: 100%;
	height: 35px;
	background: lightskyblue;
}

#about
{
	background: darkcyan;
}

#photos
{
	background: turquoise;
}

#playlist
{
	background: mediumturquoise;
}

#like
{
	background: darkturquoise;
}

#qrcoder
{
	background: lightseagreen;
}

#spa
{
	background: darkcyan;
}

#contact
{
	background: teal;
}

body{
	background-color: paleturquoise	;
}